body{ margin: 0; padding: 0;background: rgb(0, 0, 0);};
a{text-decoration: none;}
#header {
    margin: 0;
    background: rgb(53, 53, 53);
    width: 100%;
    height: 200px;
}
#header h1{
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    font-weight: bold;
    font-family: Oswald;
}
#content-wrapper {
    width: 100%;
    height: auto;
}
.table {
    margin: 20px;
    width: 377px;
    height: 353px;
    float: left;
}
.table img{
    width: 100%;
    height: 100%;
}
.table-content{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
}