body{margin: 0; padding: 0; background: white;font-family: Oswald;}
a {text-decoration: none;}
#navigation{
    margin: 0;
    padding: 0;
    background: rgb(219, 37, 37);
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
}
#navigation a{
    color: white;
}
#navigation ul {
    
}
#navigation li {
    float: left;
    margin-left: 50px;
    list-style: none;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 25px;
}

#header-wrapper {
    width: 100%;
    height: 300px;
    background: rgb(46, 46, 46);
}
.header{
    padding-top: 130px;
    font-family: Oswald;
    color: white;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
}
#content-wrapper {
    background: #004e92;
    width: 100%;
    height: 1100px;
}
.content {
    margin: 0 auto;
    width: 90%;
    height: 700px;
}
.table {
    height: 100px;
    width: 100%;
    background: rgba(0, 51, 128, 0.541)14, 6, 6);
    margin-top: 20px;
}

/* .table button{
    margin-top: 20px;
    width: 100%;
    height: 70px;
    border: none;
    background: #000428;
    border-radius: 5px;
    font-family: Oswald;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.table button:hover {
    background: #00095c;
    color: white;
    transition: .5s;
}
.list {
    /* display: none; */
}
.list ul {
    margin: 0 auto;
}
.list li {
    list-style: none;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
#list1 {
    display: none;
}
#list2 {
    display: none;
}
#list3 {
    display: none;
}

#sidebar {
    background: rgba(0, 131, 81, 0.541);
    width: 40%;
    height: 500px;
    margin-right: 20px;
    margin-top: 40px;
    float: right;
    border-radius: 5px;
}
#sidebar a{
    color: white;
}
#sidebar button{
    margin-top: 20px;
    background: rgb(0, 131, 81);
    border: none;
    width:80%;
    padding: 10px;
    color: white;
    font-family: Open Sans;
    font-size: 20px;
}

.quote {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    font-family: Open Sans;
    color: black;
    font-size: 20px;
} */
